@using System;
@using Helium24.Models;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Project>
@model Helium24.Models.Project

@{
    Layout = "Layouts/RootLayout.cshtml";
}

@section Title {@Model.Title}

<div class="card">
    @Html.Partial("../Common/CardHeader.cshtml", Model)
    <div class="card-body">
        @Html.Partial("../Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/3DPrinting/N64Logo/n64.jpg", "A Nintendo 64 Logo, in plastic."))
        <br />
        @Html.Partial("../Common/ParagraphStart.cshtml")
        Available from <a href="http://www.thingiverse.com/thing:14519">Thingiverse</a>, this print was a size and thin-walled part test.
        <br />
        Print time was 180 minutes.
        @Html.Partial("../Common/ParagraphEnd.cshtml")
        <br />
        @Html.Partial("../Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/3DPrinting/N64Logo/n64_innards.jpg", "The broken leg of the N64 logo."))
        <br />
        @Html.Partial("../Common/ParagraphStart.cshtml")
        This print was performed with 5% infill, and with a very thin wall, leaving an extremely hollow interior.
        <br />
        Unfortunately, this infill was too little, leading to one of the legs to partially break, revealing the innards.
        @Html.Partial("../Common/ParagraphEnd.cshtml")
    </div>
</div>