@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Helium24.Models.RegisterModel>
@model Helium24.Models.RegisterModel

@{
    Layout = "Layouts/RootLayout.cshtml";
    string pageName = "Register";

    string userNameField = "userName";
    string passwordField = "passwordHash";
    string passwordConfirmationField = "passwordConfirmation";
    string nameField = "name";
    
    string registerButton = "registerButton";

    string generalError = "generalError";
    string startupErrorText = "";

    @if (Model.ExistingUser)
    {
        startupErrorText = "The specified user already exists: Please remember your password or use a different email address.";
    }
    else if (Model.BadName)
    {
        startupErrorText = "Each portion of your real name must be longer than one character." +
"If parts of your real name are equal to one character, insert the '.' after each single-character character.";
    }
    else if (Model.BadEmail)
    {
        startupErrorText = "Your email was not recognized as a valid email.";
    }
    else if (Model.MissingField)
    {
        startupErrorText = "Registration requires all fields to be filled in before continuing.";
    }
}

@section Title {@pageName}

<div class="container">
    <h1>@pageName</h1>
    <div class="alert-warning" id="@generalError">@startupErrorText</div>
    <form method="POST" name="registerForm">
        <div class="form-group">
            <label for="@nameField">Name</label>
            <input id="@nameField" name="@nameField" class="form-control" type="text" placeholder="Enter your name" />
        </div>
        <div class="form-group">
            <label for="@userNameField">Email</label>
            <input id="@userNameField" name="@userNameField" class="form-control" type="text" placeholder="Enter your email" />
        </div>
        <div class="form-group">
            <label for="@passwordField">Password</label>
            <input id="@passwordField" name="@passwordField" class="form-control" type="password" placeholder="Password" />
        </div>
        <div class="form-group">
            <label for="@passwordConfirmationField">Password Confirmation</label>
            <input id="@passwordConfirmationField" name="unused" class="form-control" type="password" placeholder="Retype your password" />
        </div>
        <div class="text-muted">
            Your data will never be sold or otherwise provided to a third party.
            <br />
            Your email will be used to confirm and inform you about your account at <a href="https://helium24.net">Helium24.net</a>
        </div>
        <br />
        <button id="@registerButton" type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

@section Scripts{
    <script type="text/javascript" src="~/Content/sha256-1.0/sha256.js"></script>
    
    <script>
        $(document).ready(function (event) {
            $("form[name=registerForm]").submit(function (e) {
                if (!($("#@passwordField").val() === $("#@passwordConfirmationField").val())) {
                    e.preventDefault();
                    $("#@generalError").text("The provided passwords do not match!");
                }
                else {
                    // Hash the passwords so we aren't sending raw passwords over the network, HTTPS or otherwise.
                    $('#@passwordField').val(Sha256.hash($("#@passwordField").val()));
                    $('#@passwordConfirmationField').val(Sha256.hash($("#@passwordConfirmationField").val()));
                }
            });
        });
    </script>
}