@page
@model AttributionsModel
@{
    ViewData["Title"] = "Attributions";
}

@{
    List<Attribution> javascriptAttributions = new List<Attribution>()
    {
        new Attribution("Axios",  "https://github.com/axios/axios", "REST API support"),
        new Attribution("Bootstrap", "https://getbootstrap.com/", "HTML frontend toolkit"),
        new Attribution("Chartist", "https://github.com/chartist-js/chartist", "Javascript charting library"),
        new Attribution("Exif.js", "https://github.com/exif-js/exif-js", "Image EXIF support"),
        new Attribution("JQuery", "http://jquery.com/", "DOM and event support"),
        new Attribution("Katex", "https://khan.github.io/KaTeX/", "Math typesetting"),
        new Attribution("Knockout", "https://knockoutjs.com/", "DOM binding for dynamic updates"),
        new Attribution("Popper", "https://popper.js.org/", "Tooltip and popup support"),
        new Attribution("QR Code Styling", "https://github.com/kozakdenys/qr-code-styling", "QR code generator and styler"),
        new Attribution("RequireJS", "https://requirejs.org/", "File and module loader"),
    };

    List<Attribution> csharpAttributions = new List<Attribution>()
    {
        new Attribution("ASP.NET Core", "https://github.com/dotnet/aspnetcore/", ".NET Web App framework"),
        new Attribution("Entity Framework Core", "https://learn.microsoft.com/en-us/ef/core/", ".NET ORM framework"),
        new Attribution("SQLite EF Core Database Provider", "https://learn.microsoft.com/en-us/ef/core/providers/sqlite", "SQLite support for Entity Framework Core"),
    };
}

<div class="container-fluid">
    <div class="row-auto">
        <div class="col-auto" style="flex: unset;">
            <h3>Attributions</h3>
        </div>
        <p>
            <i>Helium24.net</i> was written with the help of several existing software packages:
        </p>
        <h4>JavaScript libraries</h4>
        <ul>
            @foreach (Attribution attrib in javascriptAttributions)
            {
                <li><a href="@attrib.Uri">@attrib.Name</a> — @attrib.Usage</li>
            }
        </ul>
        <h4>C# libraries</h4>
        <ul>
            @foreach (Attribution attrib in csharpAttributions)
            {
                <li><a href="@attrib.Uri">@attrib.Name</a> — @attrib.Usage</li>
            }
        </ul>
    </div>
</div>