@page
@model AttributionsModel
@{
    ViewData["Title"] = "Attributions";
}

@{
    List<Attribution> javascriptAttributions = new List<Attribution>()
    {
        new Attribution("Axios",  "https://github.com/axios/axios", "REST API support"),
        new Attribution("Bootstrap", "https://getbootstrap.com/", "HTML frontend toolkit"),
        new Attribution("Exif.js", "https://github.com/exif-js/exif-js", "Image EXIF support"),
        new Attribution("JQuery", "http://jquery.com/", "DOM and event support"),
        new Attribution("Katex", "https://khan.github.io/KaTeX/", "Math typesetting"),
        new Attribution("Knockout", "https://knockoutjs.com/", "DOM binding for dynamic updates"),
        new Attribution("Popper", "https://popper.js.org/", "Tooltip and popup support"),
        new Attribution("QR Code Styling", "https://github.com/kozakdenys/qr-code-styling", "QR code generator and styler"),
        new Attribution("RequireJS", "https://requirejs.org/", "File and module loader"),

        // new Attribution("Ace", "https://ace.c9.io/", "In-browser text editor"),
        // new Attribution("Chartist", "https://gionkunz.github.io/chartist-js/", "Javascript charting library"),
        // new Attribution("Chartist-Plugin-AxisTitle", "https://github.com/alexstanbury/chartist-plugin-axistitle", "Chartist plugin for axis titles"),
        // new Attribution("ES6-Promise", "https://github.com/stefanpenner/es6-promise", "Polyfill for ES6 promites"),
        // new Attribution("SHA256", "http://www.movable-type.co.uk/scripts/sha256.html", "SHA256 Javascript implementation")
    };

    List<Attribution> csharpAttributions = new List<Attribution>()
    {
        new Attribution("ASP.NET Core", "https://github.com/dotnet/aspnetcore/", ".NET Web App framework"),
        new Attribution("Entity Framework Core", "https://learn.microsoft.com/en-us/ef/core/", ".NET ORM framework"),
        new Attribution("SQLite EF Core Database Provider", "https://learn.microsoft.com/en-us/ef/core/providers/sqlite", "SQLite support for Entity Framework Core"),
    };
}

<div class="container-fluid">
    <div class="row-auto">
        <div class="col-auto" style="flex: unset;">
            <h3>Attributions</h3>
        </div>
        <p>
            <i>Helium24.net</i> was written with the help of several existing software packages:
        </p>
        <h4>JavaScript libraries</h4>
        <ul>
            @foreach (Attribution attrib in javascriptAttributions)
            {
                <li><a href="@attrib.Uri">@attrib.Name</a> — @attrib.Usage</li>
            }
        </ul>
        <h4>C# libraries</h4>
        <ul>
            @foreach (Attribution attrib in csharpAttributions)
            {
                <li><a href="@attrib.Uri">@attrib.Name</a> — @attrib.Usage</li>
            }
        </ul>
    </div>
</div>