@using System;
@using Helium24.Models;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Project>
@model Helium24.Models.Project

@{
    Layout = "Layouts/RootLayout.cshtml";
}

@section Title {@Model.Title}

<div class="card">
    @Html.Partial("Projects/Common/CardHeader.cshtml", Model)
    <div class="card-body">
        @Html.Partial("Projects/Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/3DPrinting/Cases/Pi/rpi_case.jpg", "Raspberry Pi Model B+ Case"))
        @Html.Partial("Projects/Common/ParagraphStart.cshtml")
        This case stores my raspberry pi, which I use as a local interface between the router and other IoT devices.
        @Html.Partial("Projects/Common/ParagraphEnd.cshtml")
        <br />
        @Html.Partial("Projects/Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/3DPrinting/Cases/Pi/rpi_lid.jpg", "Raspberry Pi Model B+ Lid"))
        @Html.Partial("Projects/Common/ParagraphStart.cshtml")
        The lid is mostly for aesthetics -- it doesn't tightly attach to the case.
        @Html.Partial("Projects/Common/ParagraphEnd.cshtml")
    </div>
</div>