@using System;
@using Helium24.Models;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Project>
@model Helium24.Models.Project

@{
    Layout = "Layouts/RootLayout.cshtml";
}

@section Title {@Model.Title}

<div class="card">
    @Html.Partial("Projects/Common/CardHeader.cshtml", Model)
    <div class="card-body">
        @Html.Partial("Projects/Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/3DPrinting/Cases/Utility/charger.jpg", "Lithium-Polymer USB Battery Charger"))
        <br />
        @Html.Partial("Projects/Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/3DPrinting/Cases/Utility/programmer.jpg", "USB-ASP Atmel programmer"))
        @Html.Partial("Projects/Common/ParagraphStart.cshtml")
        I had purchased a lithium-polymer USB battery charger and a USB-ASP Atmel programmer, both without cases.
        <br />
        Although I had to do a bit of sanding, making these two cases taught me how to more effectively design cases for other projects.
        @Html.Partial("Projects/Common/ParagraphEnd.cshtml")
    </div>
</div>