@using System;
@using Helium24.Models;

@{
    String projectName = "3D Printed Cases -- Intel Galileo Gen 2";
    Layout = "Layouts/RootLayout.cshtml";

    Tag[] tags = new Tag[] { Tag.Hardware, Tag.Printer };
    ProjectHeader header = new ProjectHeader(projectName, "September 2014", tags);
}

@section Title {@projectName}

<div class="card">
    @Html.Partial("../Common/CardHeader.cshtml", header)
    <div class="card-body">
        @Html.Partial("../Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Cases/Galileo/galileo_case.jpg", "Intel Galileo Gen 2 Upper Case"))
        @Html.Partial("../Common/ParagraphStart.cshtml")
            I used to use this as an interface layer between the internet and 
            devices on my local network, but have decommissioned it in favor of newer devices.
        @Html.Partial("../Common/ParagraphEnd.cshtml")
        <br />
        @Html.Partial("../Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Cases/Galileo/galileo_base.jpg", "Intel Galileo Gen 2 Lower Base"))
        @Html.Partial("../Common/ParagraphStart.cshtml")
            I designed this case the opposite of most cases -- the base is very thin instead of the lid.
        @Html.Partial("../Common/ParagraphEnd.cshtml")
        @Html.Partial("../Common/ParagraphStart.cshtml")
            This design makes it very easy to access the SSD connected to the Galileo,
            <br />
            while the slots on the top still allow you to plug in devices and other accessories.
        @Html.Partial("../Common/ParagraphEnd.cshtml")
    </div>
</div>