@using System;
@using Helium24.Models;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Project>
@model Helium24.Models.Project

@{
    Layout = "Layouts/RootLayout.cshtml";
}

@section Title {@Model.Title}

<div class="card">
    @Html.Partial("../Common/CardHeader.cshtml", Model)
    <div class="card-body">
        @Html.Partial("../Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Cases/Nano/nano_case.jpg", "Arduino Nano slide-on case"))
        @Html.Partial("../Common/ParagraphStart.cshtml")
            This nifty little case slides on tightly, with:
        <ul>
            <li>A recessed slot for the USB interface on the back</li>
            <li>A slot to access the interface pins (lower-right)</li>
            <li>A slot to see the status LEDs</li>
            <li>A cutout for the programming pins.</li>
        </ul>
        @Html.Partial("../Common/ParagraphEnd.cshtml")
        @Html.Partial("../Common/ParagraphStart.cshtml")
            The Arduino Nano is currently being used to run <a href="https://github.com/gnea/grbl">GRBL</a> to control my CNC engraver / mini-mill.
        @Html.Partial("../Common/ParagraphEnd.cshtml")
    </div>
</div>