@using System;
@using Helium24.Models;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Project>
@model Helium24.Models.Project

@{
    Layout = "Layouts/RootLayout.cshtml";
}

@section Title {@Model.Title}

<div class="card">
    @Html.Partial("Projects/Common/CardHeader.cshtml", Model)
    <div class="card-body">
        @Html.Partial("Common/ParagraphStart.cshtml")
            <b>@Model.Title</b> is an educational simulation-based presentation software, which I wrote
            for the UW - Madison NEST competition.
        @Html.Partial("Projects/Common/ParagraphEnd.cshtml")
        <br />
        @Html.Partial("Projects/Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Simulation/BeamFlow/Gravity.png", "A simulation of a 3D gravitational field between the sun and the earth (not to scale)"))
        <br />
        @Html.Partial("Projects/Common/ParagraphStart.cshtml")
            This program was a larger success than I thought -- I won 1<sup>st</sup> place in the 3<sup>rd</sup> annual 
            <a href="https://contest.cs.wisc.edu/past/2011-12-Winners.pdf">competition</a> (alternate <a href="/Blobs/Projects/Simulation/BeamFlow/BeamFlowWinners.pdf">link</a>)
        @Html.Partial("Projects/Common/ParagraphEnd.cshtml")
        <br />
        @Html.Partial("Projects/Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Simulation/BeamFlow/Scripting.png", "Scripting a presentation with a mini scripting language defining visualizations"))
        <br />
        @Html.Partial("Projects/Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Simulation/BeamFlow/magnet.png", "A simple slide demonstrating how magnets work"))
        <br />
        @Html.Partial("Projects/Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Simulation/BeamFlow/MagneticWire.png", "A simple slide with moving particles around a bent current-carrying wire"))
    </div>
</div>