@using System;
@using Helium24.Models;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Project>
@model Helium24.Models.Project

@{
    Layout = "Layouts/RootLayout.cshtml";
}

@section Title {@Model.Title}

<div class="card">
    @Html.Partial("../Common/CardHeader.cshtml", Model)
    <div class="card-body">
        @Html.Partial("Common/ParagraphStart.cshtml")
            <b>@Model.Title</b> simulates simple static electric and gravitational fields, graphing the results in 2D and 3D.
        @Html.Partial("Common/ParagraphEnd.cshtml")
        @Html.Partial("Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Simulation/FieldSimulator/fieldSimulator1.png", "Three-particle 2D electric field diagram"))
        <br />
        @Html.Partial("Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Simulation/FieldSimulator/fieldSimulator2.png", "Three-particle 3D electric field diagram"))
        <br />
        @Html.Partial("Common/ParagraphStart.cshtml")
            This program was initially written to simplify rote calculations for physics homework.
            <br />
            Visualizations were later added for debugging, validation, and experimentation.
        @Html.Partial("Common/ParagraphEnd.cshtml")
        <br />
        @Html.Partial("Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Simulation/FieldSimulator/fieldSimulator3.png", "Three-particle 2D contour diagram of an electric field"))
        <br />
        @Html.Partial("Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Simulation/FieldSimulator/fieldSimulator5.png", "Three-particle 2D electric field diagram using numbers instead of colors"))
        <br />
        @Html.Partial("Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Simulation/FieldSimulator/fieldSimulator6.png", "Three-particle 2D electric field diagram using moving points"))
        <br />
        @Html.Partial("Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Simulation/FieldSimulator/fieldSimulator7.png", "Three-particle 2D electric field diagram with a consistent gradient"))
        <br />
        @Html.Partial("Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Simulation/FieldSimulator/fieldSimulator4.png", "Three-particle 3D electric field diagram using numbers and colors to indicate strength"))
    </div>
</div>