<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.png">

    <meta name="google-site-verification" content="cScukpQX-5ha2CjIpVu6s6-AJACov7BwotGqxVDyjLE" />
    <meta name="msvalidate.01" content="54833F3A9AB9EF94EABEF305F306DFED" />

    <title>Helium24.net - @ViewData["Title"]</title>
    <link href="~/lib/bootstrap-5.1.3.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Helium.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Helium</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @foreach((string pageName, string title) in (new[]{
                            Tuple.Create("Projects", "Projects"),
                            Tuple.Create("PuzzleTooling", "Puzzle Tools"),
                            Tuple.Create("Apps", "Interactive Apps"),
                            Tuple.Create("Index", ""),
                            Tuple.Create("Media", "Photos & Videos"),
                            Tuple.Create("Wedding", "Wedding"),
                            Tuple.Create("Index", ""),
                            Tuple.Create("References", "References"),
                            Tuple.Create("Restricted", "Restricted 🔐"),
                        }))
                        {
                            <li class="nav-item @(string.IsNullOrWhiteSpace(title) ? "": "border")">
                                <a class="nav-link text-dark" href="/@pageName">@title</a>
                        </li>
                        }
                    </ul>
                    <<partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @(DateTime.UtcNow.Year) - Gustave Granroth - <a asp-area="" asp-page="/Utility/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery-3.6.0.min.js"></script>
    <script src="~/lib/popper-2.10.2.min.js"></script>
    <script src="~/lib/bootstrap-5.1.3.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>