@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    bool isAdmin = false;
    bool isAuthenticated = false;

    if (this.Context.User != null && this.Context.User.Claims.Any())
    {
        isAdmin = this.Context.User.IsInRole("Admin");
        isAuthenticated = true;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <!-- Included in our pages so Bing / Google search know we are verified sites. -->
    <meta name="google-site-verification" content="cScukpQX-5ha2CjIpVu6s6-AJACov7BwotGqxVDyjLE" />
    <meta name="msvalidate.01" content="54833F3A9AB9EF94EABEF305F306DFED" />

    <!-- Favicon! -->
    <link rel="shortcut icon" href="/Blobs/Logo/favicon.png">

    <!-- Bootstrap init -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link href="~/Lib/bootstrap-4.0/css/bootstrap.min.css" rel="stylesheet" />

    <title>@ViewData["Title"] - H24</title>

    @RenderSection("StyleSheets", required: false)
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-sm bg-info py-0">
        <a class="navbar-brand" href="/">Helium24.Net</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item px-2"><a class="nav-link" href="/Projects">Projects</a></li>
            <li class="nav-item px-2"><a class="nav-link" href="/UsefulLinks">Useful Links</a></li>
            <li class="nav-item px-2"><a class="nav-link" href="/Secure/Secure">Secure</a></li>
        </ul>

        <span class="navbar-text"><a href="/"><img src="/Blobs/Logo/LogoHeader.png" /></a></span>
        @if (isAdmin)
        {
            <div class="navbar-text">
                <form id="reset" method="post">
                    <button type=submit class="btn btn-info btn-sm"> Reset </button>
                </form>
            </div>
        }
    </nav>

    <!--Main Page-->
    <!--Bootstrap (slim jQuery, popper, and bootstrap itself)-->
    <script src="~/Lib/jquery-3.0/jquery-3.0.0.slim.min.js"></script>
    <script src="~/Lib/popper-1.12/popper.min.js"></script>
    <script src="~/Lib/bootstrap-4.0/js/bootstrap.min.js"></script>

    @RenderBody()
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto text-center">
                <small>Site Copyright © Gustave Granroth, @(DateTime.UtcNow.Year).</small>
            </div>
            <div class="col-md-auto text-center">
                <small><a href="mailto:gus.gran@helium24.net">Webmaster</a></small>
            </div>
            <div class="col-md-auto text-center">
                <small><a href="~/Legal/TermsOfUse.txt">Terms of Use</a></small>
            </div>
            <div class="col-md-auto text-center">
                <small><a href="~/Legal/PrivacyPolicy.txt">Privacy Policy</a></small>
            </div>
        </div>

        @if (isAuthenticated)
        {
            <div class="row justify-content-md-center">
                <div class="col-md-auto text-center">
                    <div class="row">
                        <div class="col-auto">
                            <span class="text-muted">Welcome <span class="text-info">@(isAdmin ? "Admin" : "User")</span></span>
                        </div>
                        <div class="col-auto">
                            <form id="logout" method="post" action="/Secure/Logout">
                                <input name="__RequestVerificationToken" type="hidden" value="@Xsrf.GetAndStoreTokens(this.Context).RequestToken" />
                                <button type=submit class="btn btn-info btn-sm"> Logout</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
