@using Helium24.Definitions;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{

    String userName = "";
    int visitCount = 0;

    bool isAdmin = false;
    bool isAuthenticated = false;
    if (this.Context.CurrentUser != null && this.Context.CurrentUser is User)
    {
        User user = (User)this.Context.CurrentUser;
        isAuthenticated = true;
        isAdmin = user.IsAdmin;
        userName = user.Name;
        visitCount = user.LoginCount;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <!-- Included in our pages so Bing / Google search know we are verified sites. -->
    <meta name="google-site-verification" content="cScukpQX-5ha2CjIpVu6s6-AJACov7BwotGqxVDyjLE" />
    <meta name="msvalidate.01" content="54833F3A9AB9EF94EABEF305F306DFED" />

    <!-- Bootstrap init -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link href="~/Content/bootstrap-4.0/css/bootstrap.min.css" rel="stylesheet">

    <title>@RenderSection("Title")</title>
    @RenderSection("StyleSheets", false)
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-sm bg-info py-0">
        <a class="navbar-brand" href="/">Helium24.Net</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item px-2"><a class="nav-link" href="/Projects">Projects</a></li>
            <li class="nav-item px-2"><a class="nav-link" href="/Maps">Maps</a></li>
            <li class="nav-item px-2"><a class="nav-link" href="/Diagnostics">Diagnostics</a></li>
            <li class="nav-item px-2"><a class="nav-link" href="/Secure">Secure</a></li>
        </ul>

        @if (isAdmin)
        {
            <span class="navbar-text"><a class="btn btn-secondary" href="/Reset">Reset Site</a></span>
        }
    </nav>

    <!--Main Page-->
    <!--Bootstrap (slim jQuery, popper, and bootstrap itself)-->
    <script src="~/Content/jquery-3.0/jquery-3.0.0.slim.min.js"></script>
    <script src="~/Content/popper-1.12/popper.min.js"></script>
    <script src="~/Content/bootstrap-4.0/js/bootstrap.min.js"></script>

    @RenderBody()
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto text-center">
                <small>Site Copyright © Gustave Granroth, @(DateTime.UtcNow.Year).</small>
            </div>
            <div class="col-md-auto text-center">
                <small><a href="mailto:gus.gran@gmail.com">Webmaster</a></small>
            </div>
            <div class="col-md-auto text-center">
                <small><a href="~/Content/TermsOfUse.txt">Terms of Use</a></small>
            </div>
            <div class="col-md-auto text-center">
                <small><a href="~/Content/PrivacyPolicy.txt">Privacy Policy</a></small>
            </div>
        </div>

        @if (isAuthenticated)
        {
            <div class="row justify-content-md-center">
                <div class="col-md-auto text-center">
                    <div class="row">
                        <div class="col-auto">
                            <span class="text-muted">Welcome <span class="text-info">@userName</span> <small>(visit #@visitCount)</small></span>
                        </div>
                        <div class="col-auto">
                            <form id="logout" method="post" action="/Secure/Logout">
                                <button type=submit class="btn btn-info btn-sm"> Logout</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    @RenderSection("Scripts", false)
</body>
</html>
