@using System;
@using Helium24.Models;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Project>
@model Helium24.Models.Project

@{
    Layout = "Layouts/RootLayout.cshtml";
}

@section Title {@Model.Title}

<div class="card">
    @Html.Partial("../Common/CardHeader.cshtml", Model)
    <div class="card-body">
        <h3 class="text-muted">About</h3>
        @Html.Partial("Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/GeigerCounter/geiger_top.jpg", "The Geiger counter, in operation."))
        <br />
        @Html.Partial("Common/ParagraphStart.cshtml")
        It is not that hard to make your own Geiger Counter. Simply:
        <ul>
            <li>Purchase a kit from <a href="https://sites.google.com/site/diygeigercounter/home">DIYGeigerCounter</a></li>
            <li>Purchase a geiger counter tube from <a href="http://www.goldmine-elec-products.com/">Electronic Goldmine</a></li>
            <li>Assemble the electronics</li>
            <li>Put it in a case, such as mine on <a href="https://www.thingiverse.com/thing:191113">Thingiverse</a> or your own</li>
            <li>Test it with a uranium-glazed pottery piece from <a href="https://www.ebay.com/">Ebay</a></li>
        </ul>
        @Html.Partial("Common/ParagraphEnd.cshtml")
        @Html.Partial("Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/GeigerCounter/geiger_side.jpg", "Side view of the geiger-counter, without the lid on."))
        <br />
        @Html.Partial("Common/ParagraphStart.cshtml")
        This case stores 6-AA's, the main electronics, the geiger-counter tube (as a snap-on component),<br />
        and various interactive components, such as the power switch (left side) and brightness control (right side).
        @Html.Partial("Common/ParagraphEnd.cshtml")
        <br />
        @Html.Partial("Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/GeigerCounter/electronics.jpg", "Geiger counter electronics, without the case."))
        <br />
        <h3 class="text-muted">Case Design</h3>
        @Html.Partial("Common/ParagraphStart.cshtml")
            This was one of the first useful projects I designed and printed with my 3D printer. 
            The design was partly restricted, because I had to fit the entire case design within the build plate of the 3D printer I had then.
        @Html.Partial("Common/ParagraphEnd.cshtml")
        <br />
        @Html.Partial("Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/GeigerCounter/wire_base.png", "Geiger Counter base (wireframe)"))
        @Html.Partial("Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/GeigerCounter/render_base.png", "Geiger Counter base (render)"))
        @Html.Partial("Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/GeigerCounter/wire_lid.png", "Geiger Counter lid (wireframe)"))
        @Html.Partial("Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/GeigerCounter/render_lid.png", "Geiger Counter lid (render)"))
        @Html.Partial("Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/GeigerCounter/wire_tube.png", "Geiger Counter tube holder (wireframe)"))
        @Html.Partial("Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/GeigerCounter/render_tube.png", "Geiger Counter tube holder (render)"))
        <br />
        @Html.Partial("Common/ParagraphStart.cshtml")
            These models were designed using <a href="http://brlcad.org/">BRL-CAD</a>, which gave me a scripting
            interface to create the models along with a graphical output view. With this design:
            <ul>
                <li>The geiger counter base separates the battery storage from the electronics compartment</li>
                <li>The geiger counter lid u-pipe holds the geiger counter tube as a snap-in item</li>
                <li>The geiger counter tube holder has several holes, permitting charged particles to pass through</li>
            </ul>
        @Html.Partial("Common/ParagraphEnd.cshtml")
        <br />
        @Html.Partial("Common/ParagraphStart.cshtml")
            There's certainly several enhancements I'd make if I were recreating this design 
            or printing this design in bulk, but overall the entire design works as expected.
        @Html.Partial("Common/ParagraphEnd.cshtml")
    </div>
</div>