@using System;
@using Helium24.Models;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Project>
@model Helium24.Models.Project

@{
    Layout = "Layouts/RootLayout.cshtml";
}

@section Title {@Model.Title}

<div class="card">
    @Html.Partial("../Common/CardHeader.cshtml", Model)
    <div class="card-body">
        @Html.Partial("Common/ParagraphStart.cshtml")
            I wrote this program to display and manipulate <a href="https://en.wikipedia.org/wiki/Julia_set">Julia</a> fractals, using direct write access to the graphics memory buffer.
            <br />
            This was the last Windows Mobile application I wrote, because I significantly damaged
            the PDA on a trip to <a href="https://www.asme.org/events/competitions/human-powered-vehicle-challenge-(hpvc)">HPVC 2014</a>.
        @Html.Partial("../Common/ParagraphEnd.cshtml")
        <br />
        @Html.Partial("../Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Mobile/PdaFractalViewer/fractalviewer1.png", "Julia fractal view #1"))
        <br />
        @Html.Partial("../Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Mobile/PdaFractalViewer/fractalviewer2.png", "Julia fractal view #2"))
        <br />
        @Html.Partial("../Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Mobile/PdaFractalViewer/fractalviewer3.png", "Julia fractal view #3"))
        <br />
        @Html.Partial("../Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Mobile/PdaFractalViewer/fractalviewer4.png", "Julia fractal view #4"))
        <br />
        @Html.Partial("../Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Mobile/PdaFractalViewer/fractalviewer5.png", "Julia fractal view #5"))
        <br />
        @Html.Partial("../Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Mobile/PdaFractalViewer/fractalviewer6.png", "Julia fractal view #6"))
        <br />
        @Html.Partial("../Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Mobile/PdaFractalViewer/fractalviewer7.png", "Julia fractal view #7"))
        <br />
        @Html.Partial("../Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Mobile/PdaFractalViewer/fractalviewer8.png", "Julia fractal view #8"))
        <br />
        @Html.Partial("../Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Mobile/PdaFractalViewer/fractalviewer9.png", "Julia fractal view #9"))
        <br />
        @Html.Partial("../Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Mobile/PdaFractalViewer/fractalviewer10.png", "Julia fractal view #10"))
        <br />
        @Html.Partial("../Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Mobile/PdaFractalViewer/fractalviewer11.png", "Julia fractal view #11"))
        <br />
        @Html.Partial("../Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/Mobile/PdaFractalViewer/fractalviewer12.png", "Julia fractal view #12"))
    </div>
</div>