@using System;
@using Helium24.Models;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Project>
@model Helium24.Models.Project

@{
    Layout = "Layouts/RootLayout.cshtml";
}

@section Title {@Model.Title}

<div class="card">
    @Html.Partial("Common/CardHeader.cshtml", Model)
    <div class="card-body">
        @Html.Partial("Common/ParagraphStart.cshtml")
        While experimenting with <a href="http://www.123dapp.com/make">Autodesk 123D Make</a>, I discovered simple support for slicing models to generate laser-cut plans.
        <br />
        This support makes it really, really easy to take a 3D model and generate plans for a physical realization of those plans.
        @Html.Partial("Common/ParagraphEnd.cshtml")
        <br />
        @Html.Partial("Common/ParagraphStart.cshtml")
        With Autodesk 123D Make, I converted the
        <a href="http://nasa3d.arc.nasa.gov/detail/sts">Space Shuttle Model</a> from <a href="http://www.nasa.gov/">NASA</a> to a series of plans, which I then laser-cut.
        @Html.Partial("Common/ParagraphEnd.cshtml")
        <br />
        @Html.Partial("Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/LaserCut/SpaceShuttleModel/laser_plans.png", "The plans for the Space Shuttle to be laser-cut, along with other plans."))
        <br />
        @Html.Partial("Common/ImageCard.cshtml",
            new Image("/Blobs/Projects/LaserCut/SpaceShuttleModel/space_shuttle.jpg", "The laser-cut Space Shuttle model"))
    </div>
</div>