@using System;
@using Helium24.Definitions;

@{
    Layout = "Layouts/SubpageLayout.cshtml";

    // Stock
    string currentDate = "currentDate";

    // Stock -- Status
    string generalOperationalError = "generalOperationalError";

    // Stock -- Active Stocks
    string activeStocksTable = "activeStocksTable";
    string activeStocksTableUpdateButton = "activeStocksTableUpdateButton";

    string sellStockComboBox = "sellStockComboBox";
    string sellAmount = "sellAmount";
    string sellButton = "sellButton";

    string buyTicker = "buyTicker";
    string buyName = "buyName";
    string buyAmount = "buyAmount";
    string buyPurchasePrice = "buyPurchasePrice";
    string buyButton = "buyButton";
    
    // Stocks -- Settings
    string settingsOperationsError = "settingsOperationsError";
    string sellStockFee = "sellStockFee";
    string tradeCommission = "tradeCommission";
    string saveSettingsButton = "saveSettingsButton";

    string stockChangeToggle = "stockChangeToggle";
    string stockChangeCheckedString = "";
    string stockChangeBlock = "stockChangeBlock";

    // URLs
    string urlActiveStocks = "/Stock/ActivePositions";
    string urlStockPurchase = "/Stock/Purchase";
    string urlStockSale = "/Stock/Sale";
    string urlStockSettings = "/Stock/Settings";

    string urlQuotesGroup = "/Quotes/Group";
}

@section Content{
<div class="card" style="width: 50rem;">
    <div class="card-header">
        Stocks <button id="@activeStocksTableUpdateButton" type="button" class="btn btn-info">Refresh</button>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <table id="@activeStocksTable" class="table">
                    <tr>
                        <th>Ticker</th>
                        <th>Name</th>
                        <th>Date AQ</th>
                        <th>Purchase Amount</th>
                        <th>Purchase $</th>
                        <th>Current $</th>
                        <th>Gain (%)</th>
                        <th>Gain ($)</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row justify-content-between">
            <div style="display:normal; padding: 2px;">
                <h3>Modify Stocks or Settings</h3>
                <div class="toggleSwitch">
                    <input id="@stockChangeToggle" class="toggle toggle-flat" type="checkbox" @stockChangeCheckedString />
                    <label for="@stockChangeToggle"></label>
                </div>
            </div>
            <div id="@stockChangeBlock" style="display:none;">
                <div class="subbox" style="text-align:left;">
                    <i>Current Operational Date: <input id="@currentDate" type="date" /></i>
                    <br />
                    <b>Sell</b>
                    <select id="@sellStockComboBox"></select>
                    <span style="white-space:nowrap;"><span>Amount: </span><input id="@sellAmount" type="number" value="0.00" /></span>
                    <button id="@sellButton" type="button">Sell</button>
                </div>

                <br />
                <div class="subbox" style="text-align:left;">
                    <b>Buy</b>
                    <br />
                    <table style="width: 100%">
                        <tr>
                            <th>Ticker</th>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Purchase $</th>
                        </tr>
                        <tr>
                            <td width="*"><input style="width: 90%" id="@buyTicker" type="text" /></td>
                            <td width="*"><input style="width: 90%" id="@buyName" type="text" /></td>
                            <td width="*"><input style="width: 90%" id="@buyAmount" type="number" value="0" /></td>
                            <td width="*"><input style="width: 90%" id="@buyPurchasePrice" type="number" value="0.00" /></td>
                        </tr>
                    </table>
                    <button id="@buyButton" type="button">Buy</button>
                </div>

                <div class="subbox" style="text-align:left;">
                    <b>Selling fee (¢/$1000): </b> <input id="@sellStockFee" type="number" />
                    <b>Commission ($/trade): </b> <input id="@tradeCommission" type="number" />
                    <button id="@saveSettingsButton" type="button">Save</button><span class="errorSubbox" id="@settingsOperationsError"></span>
                </div>
            </div>
        </div>
    </div>
</div>
}

@section Scripts{
        <script type="text/javascript">

        // ---- Toggle display of stock sections to avoid page overload.

        $("#@stockChangeToggle").click(function () {
            if ($("#@stockChangeToggle")[0].checked) {
                $("#@stockChangeBlock").show('fast');
            }
            else {
                $("#@stockChangeBlock").hide('fast');
            }
        });

        // ---- Handle stock manipulations
        var sellStockFee = 1;
        var sellStockCommission = 0.01;

        // Saves stock purchases
        $("#@buyButton").click(function () {
            var transactionData =
            {
                Ticker: $("#@buyTicker").val(),
                Name: $("#@buyName").val(),
                DateAcquired: $("#@currentDate").val(),
                PurchaseAmount: $("#@buyAmount").val(),
                PurchasePrice: $("#@buyPurchasePrice").val()
            };

            axios.post('@urlStockPurchase', transactionData)
                .then(function (data) {
                    loadActivePositions();
                    loadStockStatus();
                    loadStockAnalysis();
                })
                .catch(function (data) {
                    $("#@generalOperationalError").text(data.responseText);
                });
        });

        // Sells stock purchases
        $("#@sellButton").click(function () {
            var sellData =
            {
                SelectedIndex: $("#@sellStockComboBox")[0].selectedIndex,
                Date: $("#@currentDate").val(),
                Amount: $("#@sellAmount").val()
            };

            axios.post('@urlStockSale', sellData)
                .then(function (data) {
                    loadActivePositions();
                    loadStockStatus();
                })
                .catch(function (data) {
                    $("#@generalOperationalError").text(data.responseText);
                });
        });

        $("#@activeStocksTableUpdateButton").click(function () {
            loadActivePositions();
        });

        // Loads active stock purchases
        function loadActivePositions() {
            axios.get('@urlActiveStocks')
                .then(function (response) {
                    var data = response.data;

                    // Just perform the removal steps and exist if we have no data.
                    if (data.length == 0) {
                        // Remove all table rows greater than index 0 (leaving the header row)
                        $("#@activeStocksTable").find("tr:gt(0)").remove();

                        // Remove all the combo box options
                        $("#@sellStockComboBox").find("option").remove();

                        return;
                    }

                    // Perform another REST query to get the current quotes for all the tickers.
                    var tickerString = "?";
                    for (var i = 0; i < data.length; i++) {
                        tickerString += data[i].ticker;
                        if (i != data.length - 1) {
                            tickerString += "&";
                        }
                    }

                    axios.get('@urlQuotesGroup' + tickerString)
                        .then(function (tickerResponse) {
                            var tickerData = tickerResponse.data;

                            // Remove all table rows greater than index 0 (leaving the header row)
                            $("#@activeStocksTable").find("tr:gt(0)").remove();

                            // Remove all the combo box options
                            $("#@sellStockComboBox").find("option").remove();

                            var prefix = "<td style=\"border-left: 1px dashed; border-top: 1px dashed;\">";
                            var postfix = "</td>";
                            var totalPurchaseCash = 0;
                            var totalGain = 0;

                            // Add all the rows retrieved from the data after the last header (tr) row.
                            for (var i = 0; i < data.length; i++) {
                                var shortDate = data[i].dateAcquired.toString().substring(0, 10);

                                var ticker = prefix + data[i].ticker + postfix;
                                var name = prefix + data[i].name + postfix;
                                var date = prefix + shortDate + postfix;
                                var purchaseAmount = prefix + data[i].purchaseAmount + " ($" + data[i].purchasePrice.toFixed(2) + ")" + postfix;

                                // Ensure our digits are fixed-precision, but also have commas in the appropriate positioning.
                                totalPurchaseCash += data[i].purchaseAmount * data[i].purchasePrice;
                                var purchaseCash = prefix + (data[i].purchaseAmount * data[i].purchasePrice).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + postfix;

                                // Current stock ticker price.
                                var cashValue = tickerData.tickerValues[data[i].ticker.toLowerCase()];
                                var currentCash = prefix + cashValue + postfix;

                                var rawCashGain = (cashValue - data[i].purchasePrice) * data[i].purchaseAmount;
                                var adjustedCashGain = rawCashGain - ((cashValue * data[i].purchaseAmount * sellStockFee) / 1000.0 + 2 * sellStockCommission);
                                totalGain += adjustedCashGain;

                                var adjustedCashGainString = prefix + adjustedCashGain.toFixed(2) + postfix;
                                var percentGain = 100 * (adjustedCashGain / (data[i].purchaseAmount * data[i].purchasePrice));

                                var percentGainString = prefix + percentGain.toFixed(2) + postfix;

                                $("#@activeStocksTable tr:last").after("<tr>" +
                                    ticker + name + date + purchaseAmount + purchaseCash + currentCash + percentGainString + adjustedCashGainString + "</tr>");

                                $("#@sellStockComboBox").append("<option value=\"" + i + "\">" + data[i].ticker + " (" + data[i].purchaseAmount + " @@ " + shortDate + ")" + "</option>");
                            }

                            $("#@activeStocksTable tr:last").after("<tr>" +
                                    prefix + "<b>Total</b>" + postfix +
                                    prefix + "---------" + postfix +
                                    prefix + "------" + postfix +
                                    prefix + "----" + postfix +
                                    prefix + "<b>" + totalPurchaseCash.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + "</b>" + postfix +
                                    prefix + "----" + postfix +
                                    prefix + "----" + postfix +
                                    prefix + "<b>" + totalGain.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + "</b>" + postfix + "</tr>");
                        })
                        .catch(function (data) {
                            $("#@generalOperationalError").text(data.responseText);
                        });
                })
            .catch(function (data) {
                    $("#@generalOperationalError").text(data.responseText);
                });
        }

        // Saves and loads stock settings.
        $("#@saveSettingsButton").click(function () {
            var settingsData =
            {
                SellStockFee: $("#@sellStockFee").val(),
                TradeCommission: $("#@tradeCommission").val()
            };

            axios.post('@urlStockSettings', settingsData)
                .then(function (data) {
                })
                .catch(function (data) {
                    $("#@settingsOperationsError").text(data);
                });
        });

        function loadStockSettings() {
            axios.get('@urlStockSettings')
                .then(function (data) {
                    sellStockFee = data.sellStockFee;
                    sellStockCommission = data.tradeCommission;
                    $("#@sellStockFee").val(sellStockFee);
                    $("#@tradeCommission").val(sellStockCommission);
                })
                .catch(function (data) {
                    $("#@settingsOperationsError").text(data);
                });
        }

        // Setup global stock information.
        $(document).ready(function () {
            var jsDate = new Date();
            var month = jsDate.getMonth() + 1;
            var day = jsDate.getDate();

            var currentDay = jsDate.getFullYear() + "-" + (month < 10 ? "0" + month : month) + "-" + (day < 10 ? "0" + day : day);
            $("#@currentDate").val(currentDay);

            loadStockSettings();
            loadActivePositions();
        });
    </script>
}